    
/* .timeline{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
} */
.timeline__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.timeline__right{
    position: sticky;
    top: 5px;
}
.timeline__posts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline__title{
    width:100%;
    margin: 30px 0 25px 25px;
    color: black;
    font-family: 'Rochester', cursive;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
.timeline__title > span{
    font-size: 3.0rem;
    color: black;
}
