.notification__tab {
    padding: 20px;
    background: white;
    border-radius: 8px;
    width:397px;
    height: 100%;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .tab__header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .notification__content {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .time__notification {
    font-size: 0.9rem;
    color: gray;
    margin: 10px 0;
  }
  