.profilepage{
    display: flex;
    flex-direction: column;
    padding: 0 65px;
   
   

}

.line__div{
    border-bottom: 1px solid rgba(136, 136, 134, 0.881);
}
.nav__profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
   
}
.button__nav__profile{

}