html {
  background-color: white;
  color: black;
}
/* .app {
  display: flex;
  flex-direction: row;
}
.app__sidebar{
  flex: 0.2;
  border: none;
  border-right: 2px solid #ebedf0;
}
.app__content{
  flex: 0.8;
} */

.app__sidebar{
  border: none;
  border-right: 2px solid #ebedf0;
}