html {
  background-color: white;
  color: black;
  height: 100%;
}
body, #root{
  height: 100%;
}
.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.app__sidebar{
  flex: 0.15;
  border: none;
  border-right: 2px solid #ebedf0;
}
.app__content{
  flex: 0.85;
  height: 100%;
}